<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Passionate about harnessing the power of data to drive strategic business decisions. I hold a MS in Information Technology and Management from Illinois Institute of Technology. As an aspiring analyst, I bring a wide range of experience in data analysis, cost-benefit approaches, and process optimization. As an aspiring analyst, I bring a blend of technical expertise and business acumen, enabling me to translate complex data into actionable insights. My experience spans across Business Analysis, Data Visualization, and Business Intelligence, where I’ve utilized tools like SQL, Python, Tableau, and Power BI to optimize processes and support strategic decision-making. My goal is to continue growing in the field, leveraging my skills to bridge the gap between data and business strategy, and ultimately contribute to the success of forward-thinking organizations.
            <p class="paragraph-text justify-text">
                I'm always eager to connect with like-minded professionals who share a passion for analytics, technology, and business optimization. Let's collaborate and transform the future of business with data!
        </div>
    </section>
</div>
